<h1>[[ title ]]</h1>
<table id="tuinplanten-datatables" class="tablesorter table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="text-align:left;"><span class="gemicon-small-basil"></span><a href="">naam</a></th>
            <th><span class="gemicon-small-home" /></th>
            <th><a href="">hoogte</a></th>
            <th><span class="gemicon-small-flag" /></th>
            <th><a href="">plant&nbsp;datum</a></th>
            <th><span class="gemicon-small-upload" /></th>
            <th><span class="gemicon-small-download" /></th>
            <th><span class="gemicon-small-clipboard" /></th>
            <th><span class="gemicon-small-eye-view" /></th>
            <th><span class="gemicon-small-photo" /></th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
                {% for plant in plants %}
                    {% if not plant.getDeleted() %}
            <tr>
                <td class="plant" id="{{ plant.getId() }}">
                    <a href="{{url('details', {'controller':'index', 'action':'getdata', 'id':plant.getId()}, {}, 1)}}"></a>
                    <p class="">{{ plant.getDutchName() }}</p>
                    <p class="latin_name">{{ plant.getLatinName() }}</p>
                </td>
                <td>{{ plant.getIndigenous() }}</td>
                <td class="text_center">{{ plant.getHeight() }}&nbsp;</td>
                <td>{{ plant.getOrigin() }}&nbsp;</td>
                <td class="text_center">{{ plant.getPlantingDate() }}&nbsp;</td>
                <td>{{ months[plant.getBloomingStart()] }}</td>
                <td>{{ months[plant.getBloomingEnd()] }}</td>
                <td>{{ plant.getDetails() }}&nbsp;</td>
                <td>{{ plant.getPresent() }}</td>
                <td>
                    {% if photos[plant.getId()] != 'default' %}
                        <img class="thumb_photo" src="/uploads/thumbs/{{ photos[plant.getId()]}}" />
                        {% else %}
                        <img class="thumb_photo" src="/img/default_plant.png" />
                        {% endif %}
                        <table>
                            <tr>
                                <td>
                                    <a class="photo gemicon-small-camera" href="{{url('garden', {'controller':'photo', 'action':'upload', 'id':plant.getId()}, {}, 1)}}"></a>
                                </td>
                                <td>
                                    {% if photos[plant.getId()] != 'default' %}
                                        <a class="gemicon-small-basil" href="{{url('garden', {'controller':'photo', 'action':'firstphoto', 'id':plant.getId()}, {}, 1)}}"></a>
                                {% endif %}
                                    </td>

                                    <td>
                                 {% if photos[plant.getId()] != 'default' %}
                                            <a class="gemicon-small-trash-can" href="{{url('garden', {'controller':'photo', 'action':'delete', 'id':plant.getId()}, {}, 1)}}"></a>
                                {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="actions">
                                <!--<a class="icon-eye-open" href="">
                                </a>-->
                                <a class="icon-edit" href="{{url('garden', {'controller':'plant', 'action':'edit', 'id':plant.getId()}, {}, 1)}}">
                                </a>
                                <a class="icon-trash" href="{{url('garden', {'controller':'plant', 'action':'delete', 'id':plant.getId()}, {}, 1)}}">
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                    </tbody>
                </table>


                <div id="pager" class="pager">
                    <form>
                        <img src="/addons/pager/icons/first.png" class="first"/>
                        <img src="/addons/pager/icons/prev.png" class="prev"/>
                        <input type="text" class="pagedisplay"/>
                        <img src="/addons/pager/icons/next.png" class="next"/>
                        <img src="/addons/pager/icons/last.png" class="last"/>
                        <select class="pagesize">
                            <option selected="selected"  value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option  value="40">40</option>
                        </select>
                    </form>
                </div>



                <div id="popupdata">

                </div>