<ul>

    <li><a ui-sref="garden">Tuin</a></li>
    <li><a ui-sref="createplant">Nieuwe Tuinplant</a></li>
    <li><a ui-sref="features">Kenmerken</a></li>
    <li><a ui-sref="newfeature">Nieuwe Kenmerk</a></li>
    <li><a ui-sref="habitats">Groeiplaatsen</a></li>
    <li><a ui-sref="newhabitat">Nieuwe Groeiplaats</a></li>
    <li><a href="#">Nieuwe Plant in Flora</a></li>

    <!--
    <li><a href="{{url('garden', {'controller':'plant','action':'create'}, {}, 1)}}">Nieuwe Tuinplant</a></li>
    <li><a href="#">Nieuwe Plant in Flora</a></li>
    <li><a href="{{url('garden', {'controller':'feature','action':'index'}, {}, 1)}}">Kenmerken</a></li>
    <li><a href="{{url('garden', {'controller':'feature','action':'create'}, {}, 1)}}">Nieuwe Kenmerk</a></li>
    <li><a href="{{url('garden', {'controller':'habitat','action':'index'}, {}, 1)}}">Groeiplaats</a></li>
    <li><a href="{{url('garden', {'controller':'habitat','action':'create'}, {}, 1)}}">Nieuwe Groeiplaats</a></li>
    -->
</ul>